* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

/* LAYOUT */
.app-layout {
  display: flex;
  height: 100vh;
}

/* BASE SIDEBAR STYLES*/
.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  padding: 16px;
  transition: width 0.3s ease; /* Remove transform here so it stays on screen */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Keeps hidden buttons from overflowing */
}

/* New Collapsed State (The "Hidden" look) */
.app-layout.sidebar-hidden .sidebar {
  width: 70px; /* Small enough for just the button */
}

/* Hide the Logo and Nav Buttons when collapsed */
.app-layout.sidebar-hidden .logo,
.app-layout.sidebar-hidden .nav-btn {
  display: none;
}

/* Ensure the button stays left-aligned and visible */
.hamburger {
  cursor: pointer;
  background: #111827;
  border: 1px solid #111827;
  padding: 8px;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 20px;
  font-size: 20px;
  color: #ccc;
}

/* SIDEBAR BUTTONS */
.nav-btn {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 6px;
  background: none;
  border: none;
  color: #d1d5db;
  text-align: left;
  cursor: pointer;
}

.nav-btn.active {
  background: #1f2937;
  color: white;
}

.sidebar-footer {
    justify-content: center;
    margin-top: auto; /* This magic line pushes it down */
    padding:10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-logout {
    display: block;
    align-items: left;
    justify-content: center;
    gap:0px;
    background: #111827;
    border: none;
    color: #8a8d91; /* Matches your other nav buttons */
    cursor: pointer;
    width: fit-content;
    padding: 0px;
    transition: 0.3s;
}

.logout-style:hover {
    color: #ff4d4d; /* Changes to red on hover */
}

/* Styles the SVG icon size and color */
.logout-icon {
    background: transparent;
    align-items: center;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    fill: white;
    display: block;
}


/* MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

/* TOPBAR */
.topbar {
  margin-bottom: 20px;
}

/* PAGES */
.page {
  display: none;
}

.page.active {
  display: block;
}




/* Smooth entry animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Button styling to match your CRM style */
.add-btn {
  padding: 5px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: white;
  border-radius: 4px;
}


.delete-btn {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
}

.delete-btn:hover {
    background: #cc0000;
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}